<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<div class="resource-container">
  <h6>Resources</h6>
  <ul>
    <li>Learn More</li>
    <li>Find More</li>
  </ul>
</div>
<div class="logo-container">
  <ion-icon name="cafe-outline"></ion-icon>
</div>
<div class="">
  <h6></h6>
  <ul>
    <li></li>
    <li></li>
  </ul>
</div>
