<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<div class="res-rec-container">
  <h6>Resources</h6>
  <ul class="footer-list">
    <li class="footer-link"><a href="https://www.goodhousekeeping.com/health/diet-nutrition/a30303/facts-about-coffee/" target="_blank">Learn More</a></li>
    <li class="footer-link"><a href="https://www.google.com/search?q=coffee+near+me&sxsrf=APq-WBtkjAqZN3VULN7gLw7GJS_Hqf0Uvw%3A1645136813761&source=hp&ei=rcsOYqm-Kq-vptQPq6aawAE&iflsig=AHkkrS4AAAAAYg7ZvcOq-UBouDvi4tE6uMICjpjYS2HX&oq=coffee+&gs_lcp=Cgdnd3Mtd2l6EAEYADIECCMQJzIECCMQJzIECCMQJzIHCAAQsQMQQzIHCAAQsQMQQzIKCAAQsQMQyQMQQzIFCAAQkgMyBQgAEJIDMg0ILhCxAxDHARCjAhBDMgcIABCxAxBDOgcIIxDqAhAnOg0ILhDHARCjAhDqAhAnOgcILhDUAhBDOgQIABBDOgoILhDHARCjAhBDOg4ILhCABBCxAxDHARCjAjoKCC4QsQMQ1AIQQzoFCAAQgAQ6CAgAEIAEELEDOgsILhCABBDHARCvAVDQDljtKGDJMmgDcAB4AIABmQGIAfsIkgEDMC45mAEAoAEBsAEK&sclient=gws-wiz" target="_blank">Find More</a></li>
    <li class="footer-link"><a href="https://www.insightguides.com/inspire-me/blog/10-coffees-from-around-the-world" target="_blank">Explore More</a></li>
  </ul>
</div>
<div class="logo-container">
  <a href="/coffee">
  <img class="made-logo" src="/images/CoffeeCreations.png" alt="">
  </a>
</div>
<div class="res-rec-container">
  <h6>Recommended</h6>
  <ul class="footer-list">
    <li class="footer-link"><a href="https://www.starbucks.com/" target="_blank">Starbucks</a></li>
    <li class="footer-link"><a href="https://www.cariboucoffee.com/" target="_blank">Caribou Coffee</a></li>
    <li class="footer-link"><a href="https://www.peets.com/" target="_blank">Peet's Coffe</a></li>
  </ul>
</div>
