<header>
<nav class="navbar">
  <div class="brand-name">
    <h2>Coffee</h2>
    <h3>Collections</h3>
  </div>
  <div class="links-container">
    <ul class="link-list">
      <li class="nav-link"><a href="/coffee">Why Coffee</a></li>
      <li class="nav-link"><a href="#">Main Ingredients</a></li>
      <li class="nav-link"><a href="#">Creations</a></li>
      <li class="nav-link"><a href="/coffee/new">Make Your Own</a></li>
    </ul>
    <button class="hamburger"type="button">
        <div class="bar"></div>
      </button>
  </div>
</nav>
</header>
<nav class="mobile-nav">
  <a href="#">Why Coffee</a>
  <a href="#">Main Ingredients</a>
  <a href="#">Creations</a>
  <a href="#">Make Your Own</a>
</nav>
