<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
      <%- include('./partials/header.ejs') %>
      <section class="main-creations">
        <h2>Creations</h2>
        <div class="creations">
          <div class="coffee-item">
            <img src="/images/icedLatte.jpg" alt="iced latte">
              <div class="overlay2">
                <h4 class="coffee-title">Iced Latte</h4>
                <ul>
                  <li class="drink-list">Type:</li>
                  <li class="drink-list">Base:</li>
                  <li class="drink-list">Dairy:</li>
                  <li class="drink-list">Syrup/s:</li>
                  <li class="drink-list">Additionals:</li>
                </ul>
              </div>
          </div>
          <div class="coffee-item">
            <img src="/images/icedCoffee.jpg" alt="iced coffee">
            <div class="overlay2">
              <h4 class="coffee-title">Iced Coffee</h4>
              <ul>
                <li class="drink-list">Type:</li>
                <li class="drink-list">Base:</li>
                <li class="drink-list">Dairy:</li>
                <li class="drink-list">Syrup/s:</li>
                <li class="drink-list">Additionals:</li>
              </ul>
            </div>
          </div>
          <div class="coffee-item">
            <img src="/images/icedMocha.jpg" alt="iced mocha">
            <div class="overlay2">
              <h4 class="coffee-title">Iced Mocha</h4>
              <ul>
                <li class="drink-list">Type:</li>
                <li class="drink-list">Base:</li>
                <li class="drink-list">Dairy:</li>
                <li class="drink-list">Syrup/s:</li>
                <li class="drink-list">Additionals:</li>
              </ul>
            </div>
          </div>
          <div class="coffee-item">
            <img src="/images/hotLatte.jpg" alt="hot latte">
            <div class="overlay2">
              <h4 class="coffee-title">Latte</h4>
              <ul>
                <li class="drink-list">Type:</li>
                <li class="drink-list">Base:</li>
                <li class="drink-list">Dairy:</li>
                <li class="drink-list">Syrup/s:</li>
                <li class="drink-list">Additionals:</li>
              </ul>
            </div>
          </div>
          <div class="coffee-item">
            <img src="/images/blackCoffee.jpg" alt="cup of black coffee">
            <div class="overlay2">
              <h4 class="coffee-title">Black Coffee</h4>
              <ul>
                <li class="drink-list">Type:</li>
                <li class="drink-list">Base:</li>
                <li class="drink-list">Dairy:</li>
                <li class="drink-list">Syrup/s:</li>
                <li class="drink-list">Additionals:</li>
              </ul>
            </div>
          </div>
          <div class="coffee-item">
            <img src="/images/hotMocha.jpg" alt="hot mocha">
            <div class="overlay2">
              <h4 class="coffee-title">Hot Mocha</h4>
              <ul>
                <li class="drink-list">Type:</li>
                <li class="drink-list">Base:</li>
                <li class="drink-list">Dairy:</li>
                <li class="drink-list">Syrup/s:</li>
                <li class="drink-list">Additionals:</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div class="logout-container">
        <form class="" action="/logout?_method=DELETE" method="POST">
          <button class="logout-button" type="submit">Log Out</button>
        </form>
      </div>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>
