<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('./partials/header.ejs') %>
    </header>
    <div class="heading-image">
      <img class="img-fluid" src=" https://images.unsplash.com/photo-1549063729-f02aba455bda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="coffee">
    </div>
    <section class="mixin-container">
      <h2>Why Coffee?</h2>
      <hr>
      <div class="info-container">
        <img class="img-fluid" src="https://images.unsplash.com/photo-1587302186428-d3753405ffed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="coffee in a cup">
        <div class="facts-container">
          <p>Coffee has a stimulating affect on humans primarily due to the caffine content. Coffee has developed into an array of delacacies such as lattes, mochiatos, and mochas. Not only can coffee help
          energize you for your day, but it is also delicious!</p>
          <div class="info-fact-container">
            <div class="facts">
              <h4>Facts</h4>
              <ul>
                <li>Coffee Beans are Technically seeds</li>
                <li>Decaf does not mean caffeine-free</li>
                <li>Finland is home to the most coffee lovers</li>
              </ul>
            </div>
            <div class="benefits">
              <h4>Benefits</h4>
              <ul>
                <li>Coffee Drinkers tend to live longer</li>
                <li>One cup of black coffee has only one calorie</li>
                <li>Coffee grounds can beautify your skin</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  <%- include('./partials/footer.ejs') %>
  </body>
</html>
