<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <% if (messages.error) { %>
      <%= messages.error %>
  <%  } %>
    <section class="logins-container">
      <div class="form-container">
      <h1>Login</h1>
      <form class="logs" action="/login" method="POST">
        <div class="inputs">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
        </div>
        <div class="inputs">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
        </div>
        <button class="log-button" type="submit">LogIn</button>
      </form>
      <a class="login-in" href="/register">Sign Up</a>

      </div>
</section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    <a class="attr" href='https://pngtree.com/so/Brown'>Brown png from pngtree.com/</a>
  </body>
</html>
