<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
      <%- include('./partials/header.ejs') %>
      <section class="container-form">
      <div class="title">
        <h2>Create Your Own Coffee Drink</h2>
      </div>
      <div class="form-container">
        <form  action="/coffee/usercreations" method="POST">
          <label for="name">Name Your Drink:</label><br/>
          <input class="inputs" type="text" name="name" placeholder="Vanilla Mocha Latte">
          <label for="type">Hot or Iced:</label>
          <select class="inputs" name="type">
            <option value="hot">Hot</option>
            <option value="iced">Iced</option>
          </select>
          <label for="base">Coffee or Esspresso:</label><br/>
          <select class="inputs" name="base">
            <option value="coffee">Coffee</option>
            <option value="espresso">Espresso</option>
            <option value="blonde">Blonde Espresso</option>
          </select>
          <label for="dairy">Milk or Cream:</label><br/>
          <input class="inputs" type="text" name="dairy" placeholder="Almond Milk">
          <label for="syrup">Syrup:</label><br/>
          <input class="inputs" type="text" name="syrup" placeholder="Vanilla, White Chocolate, Caramel">
          <label for="added">Powders and Others: </label><br/>
          <input class="inputs" type="text" name="added" placeholder="Sugar, Cinnomon, Nutmeg">
          <input class="inputs submit-button" type="submit" value="Create Drink">
        </form>
      </div>
      </section>
      <div class="logout-container">
        <form class="" action="/logout?_method=DELETE" method="POST">
          <button class="logout-button" type="submit">Log Out</button>
        </form>
      </div>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    <a class="attr" href='https://pngtree.com/so/Brown'>Brown png from pngtree.com/</a>
  </body>
</html>
