* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #232323;
  color: white;
  font-family: 'DM Serif Display', serif;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  transition: all .5s ease-in;
  z-index: 2;
  top: 0;
}
.brand-name {
  margin-left: 2vw;
  z-index: 5;
}
.brand-name > h2 {
  font-family: 'Cantata One', serif;
  font-size: 40px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.brand-name > h3 {
  font-family: 'Parisienne', cursive;
  font-size: 40px;
  margin-top: 0;
}
.links-container {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  /* align-items: flex-end; */
}
.link-list {
  display: flex;
  width: 70%;
  justify-content:space-between;
  align-items: flex-end;
  margin-right: 2vw;
}
.nav-link {
  transition: all .3s ease;
  border-radius: 3px;
}
.nav-link  >  a{
  list-style: none;
  text-decoration: none;
  color:white;
  text-shadow: 0 3px 15px rgb(0 0 0/ .9);
  font-size: 18px;
}
.nav-link:hover{
  /* text-decoration: overline; */
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px rgb(100 100 100 / .5);
}
/* hamburger hamburger hamburger hamburger hamburger */
.hamburger {
  position: relative;
  display: block;
  width: 37px;
  cursor: pointer;
  margin-right: 2rem;

  appearence: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FFF;
  margin: 10px 0px;
  transition: 0.4s;
  z-index: 4;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar{
  opacity: 0;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgb(0 0 0 / .1);
  margin-top: 110px;
  display: block;
  transition: all .4s ease;
}
.mobile-nav.is-active {
  left:0;
}
.mobile-nav > a {
  display: block;
  width: 100%;
  /* max-width: 300px; */
  text-align: center;
  margin:0 auto;
  padding: 12px 16px;
  background-color: rgb(0 0 0 / .6);
  color: white;
  text-decoration: none;
}
.mobile-nav > a:hover {
  background-color: rgb(0 0 0 / .3);
}
@media (min-width: 1230px){
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
@media (max-width: 1230px){
  .link-list {
    display: none;
  }
  .links-container {
    width: 20%;
  }
}
/* hamburger hamburger hamburger hamburger hamburger */
.active {
  background-color: rgb(0 0 0 / .6);
}
.heading-image {
  width: 100vw;
  min-height: 900px;
  display: flex;
  justify-content: center;
}
.heading-imgage > img {
    width: 100%;
}
.why-container {
  margin: 8vw auto 3vw auto;
  /* height: 900px; */
  /* overflow: hidden; */
  width: 100vw;
  background: url('https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80') no-repeat;
  background-size: cover;
  /* opacity: .3; */
  box-shadow: 5px 5px 10px rgb(0 0 0 / .9);
  filter: opacity(90%) brightness(85%) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-container > h2 {
  font-size: 5rem;
  font-family: 'Cantata One', serif;
  margin-top: 1vw;
  transition: all .5s ease;
  border-bottom: 1px solid white;
  padding: 1vw 4vw;
  text-shadow: 5px 5px 10px rgb(0 0 0 / .9);
}
.info-container {
  display: flex;
  width: 90%;
  justify-content: space-around;
  overflow: scroll;
  transition: all .5s ease;
  padding: 3vw 1vw;
  align-items: center;
}
#coffee-image {
  width: 100%;
  opacity: .92;
  transition: all .5s ease;
}
.image-container {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 30%;
  height: 80%;
  box-shadow: 0 3px 20px rgb(0 0 0 / .9);
}
.facts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  background: rgb(0 0 0 / .6);
  padding: 3vw;
  box-shadow: 0 3px 20px rgb(0 0 0 / .9);
  transition: all .5s ease;
}
.facts-container > p {
  font-size: 1.7vw;
}
.info-fact-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.facts > h4,.benefits > h4 {
  font-size: 1.3vw;
}
.facts > ul > li, .benefits > ul > li {
  font-size: 15px;
  list-style: circle;
}
.mixin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding: 5vw 0;
  margin: 12vw;
}
.mixin-container > h2 {
  margin: 0 0 3vw 0;
  font-size: 5vw;
  border-bottom: 1px outset white;
  padding: 0 3vw 2vw 3vw;
  opacity: .9;
  text-shadow: 5px 5px 10px rgb(0 0 0 / .9);
}
.mix-images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mix-image {
  width: 20%;
  display: flex;
  /* max-height: 15rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgb( 0 0 0 /.9);
  border-radius: 20%;
  padding: 1vw 0 ;
  overflow: hidden;
}
.mix-image > img {
  width: 100%;
  /* object-fit: contain; */
  border-radius: 2px;
  opacity: .8;
}
.mix-image > p {
  font-size: 2vw;
  margin-top: 1vw;
  opacity: .8;
}
/* End of main Ingredients end of main Ingredients */

/* Customer quote customer quote customer quote */
.customer-container {
  background: url('/images/wood2.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgb(0 0 0 /.9);
  margin: 10vw 0;
}
.customer-image {
  width: 20%;
  margin: 4vw 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customer-image > p {
  font-size: 22px;
  /* text-shadow: 2px 2px 5px rgb(0 0 0 /.8); */
  background: rgb(0 0 0 / .5);
  padding: .5vw 3vw;
  margin-top: 1vw;
  text-shadow: 5px 5px 10px rgb(0 0 0 / .9);
}
.photo-container {
  width: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgb(0 0 0 / .8);
}
.photo-container > img {
  width: 100%;
  display: block;
}
.customer-quote {
  width: 65%;
  padding: 2vw;
  background: rgb(0 0 0 /.7);
}
.customer-quote > h4 {
  font-size: 35px;
  margin-bottom: 3vw;
}
.customer-quote > p {
  font-size: 18px;
}
/* Customer quote customer quote customer quote */
.main-creations {
  margin: 7vw 2vw;
}
.main-creations > h2 {
  text-align: center;
  width: 40%;
  margin: 0 auto 3vw auto;
  font-size: 5vw;
  border-bottom: 1px outset white;
  padding: 0 0 1vw 0;
  opacity: .9;
  text-shadow: 5px 5px 10px rgb(0 0 0 / .9);
}
.creations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.coffee-item {
  width: 30%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 3vw;
  box-shadow: 3px 3px 10px rgb(0 0 0/.9);
}
.coffee-item > img {
  /* max-width: 700px; */
  width: 100%;
  filter: grayscale(.1);
  display: block;
}
.see-more {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}
.see-more > a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  transition: all .5s ease;
}
.see-more > a:hover {
  text-decoration: underline;
  color: grey;
  text-shadow: 3px 3px 10px rgb(0 0 0/.9);
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
  background: rgb(255,255,255);
  background: linear-gradient(177deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8911939775910365) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.overlay:hover {
  opacity: 1;
}
.overlay:hover > * {
  transform: translateY(0);
}
.coffee-title {
  font-size: 3vw;
  font-family: 'Parisienne',cursive;
}
.coffee-quote {
  font-size: 18px;
}
/* NEW PAGE NEW PAGE NEW PAGE NEW PAGE NEW PAGE NEW PAGE NEW PAGE */
.container-form {
  margin: 140px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: url('/images/liquid-border.png') no-repeat;
  background-size: cover;
}
.title > h2{
  font-size: 4.5vw;
  padding: 3vw;
  border-bottom: 1px solid white;
  text-shadow: 0 3px 10px rgb(0 0 0 / .9);
  margin-bottom: 3vw;
}
.form-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 2.5vw;
}
label {
  font-size: 22px;
  text-shadow: 0 3px 10px rgb(0 0 0 / .9);
}
input {
  width: 100%;
  margin: 1vw 0;
  border: none;
  border-radius: 2px;
  padding: .5vw;
  /* background-color: #f2efe9; */
  /* background: rgb(242,239,233);
  background: linear-gradient(90deg, rgba(242,239,233,1) 0%, rgba(242,239,233,1) 0%, rgba(51,51,51,1) 100%);*/
  box-shadow: 0 3px 10px rgb(0 0 0 / .9);
  background: rgb(242,239,233);
  background: linear-gradient(90deg, rgba(242,239,233,1) 0%, rgba(242,239,233,1) 0%, rgba(85,66,66,1) 100%);
}
.submit-button {
  /* background: linear-gradient( #603813, #b29f94); */
  background-color: #f2efe9;
  border: 1px outset black;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / .9);
  font-size: 25px;
  margin: 5vw 0 10vw 0;
}
/* new page new page new page new page new page */

/* footer footer footer footer footer footer */
footer {
  width: 100%;
  /* background-color: black; */
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vw;
  /* box-shadow: 0 5px 10px rgb(0 0 0 / .9); */
}
.res-rec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-list {
  padding: 0;
}
.res-rec-container > h6 {
  border-bottom: 1px solid white;
  padding: 0 1vw .5vw 1vw;
  text-shadow: 0 3px 10px rgb(0 0 0/.9);
}
.footer-link {
  list-style: none;
}
.footer-link > a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 12px;
  transition: all .3s ease;
}
.footer-link > a:hover {
  color: rgb(85,66,66);
  transform: scale(1.1);
}
.attr {
  text-align: center;
  color: #8c654c;
  margin: 0 auto;
  text-decoration: none;
  display:flex;
  justify-content: flex-end;
  font-size: 10px;
}
.logo-container{
  display: flex;
  justify-content: center;
}
.made-logo {
  width: 50%;
  margin: 0 auto;
}
/* Footer end footer end footer end */
/* userdrinks userdrinks userdrinks */
.flex-container {
  height: 90vh;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('/images/honey-drip.png') no-repeat;
  background-size: contain;
  width: 100vw;
}
.flex-container > h3 {
  font-size: 5vw;
  margin-top: 12vw;
  border-bottom: 1px outset white;
  padding: 1vw 2vw;
  text-shadow: 3px 5px 10px rgb(0 0 0/.9);
}
.delete-button {
  background: white;
}
